@font-face{
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf");
    font-family: "MyriadPro-Regular";
    src: url("assets/MyriadPro-Regular.ttf");
}

body {
    width: 1020px;
    margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

h2 {
    font-size: 30px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: 1.45px;
    padding: 61px 0 10px 0;
}

header {
    height: 89px;
    color: white;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    font-family: Lato-Bold, MyriadPro-Regular;
}

h1 {
    font-size: 19.03448pt;
    text-align: justify;
    letter-spacing: 1.45px;
    margin: 25px 0 0 40px;
}

nav {
    font-size: 8.65655pt;
    text-align: justify;
    margin: 40px 30px 0 0;
}

nav span {
    color: #494e62;
    vertical-align: 4px;
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.45px;
    padding: 0 10px;
}

.red {
    color: #f06c64;
}

.darkline {
    height: 6px;
    background-color: #323746;
}

.gallery {
    height: 585px;
    background-color: #f06c64;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.left-switcher {
    width: 16px;
    height: 27px;
    margin: 0 0 203px 42px;
}

.vertical-phone {
    width: 215px;
    height: 458px;
    margin: 53px 0 0 51px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
}

.horizontal-phone {
    width: 458px;
    height: 215px;
    margin: 0 0 122px 95px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
}

.right-switcher {
    width: 16px;
    height: 27px;
    margin: 0 0 203px 77px;
}

.pinkline {
    height: 15px;
    background-color: #f06c64;
}

.services {
    height: 488px;
    background-color: #f2f2f2;
    padding: 0 41px;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.gallery h2 {
    display: none;
}

.services p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0 42px 0;
}

.grayline {
    height: 6px;
    background-color: #f2f2f2;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 125px);
 }

.box img {
    float: left;
    width: 59px;
    height: 59px;
    padding: 2px 20px 0 0;
 }

h3 {
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: 0.3px;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.box p {
    font-family: Lato-Regular, MyriadPro-Regular;
    font-size: 12.5px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    letter-spacing: 0.05px;
    margin-right: 5px; 
    padding: 8px 12px 0 78px;
}

a:hover, h2:hover, h3:hover {
    color: darkred;
}

h1:hover {
	transform: rotateZ(-10deg);
}

.left-switcher:hover, .right-switcher:hover {
    cursor: pointer;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    padding: 0 41px;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.portfolio p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0;
}

.portfolio form {
    display: inline-block;
}

.portfolio button {
    color: #767e9e;
    background: none;
    height: 22px;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin: 2px 7px 20px 0;
}

.all {
    width: 29px;
    color: white;
    border-color: white;
}

.web {
    width: 78px;
}

.graphic {
    width: 93px;
}

.art {
    width: 57px;
}

.pf-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
 }

.pf img {
    width: 220px;
    height: 188px;
}

.greyline {
    height: 6px;
    background-color: #323746;
}
