@font-face{
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
    font-family: "Lato-Regular";
    src: url("assets/Lato-Regular.ttf");
    font-family: "MyriadPro-Regular";
    src: url("assets/MyriadPro-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1020px;
    margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

h2 {
    font-size: 30px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: 1.45px;
    padding: 61px 0 10px 0;
}

header {
    height: 89px;
    color: white;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    font-family: Lato-Bold, MyriadPro-Regular;
}

h1 {
    font-size: 19.03448pt;
    text-align: justify;
    letter-spacing: 1.45px;
    margin: 25px 0 0 40px;
}

nav {
    font-size: 8.65655pt;
    text-align: justify;
    margin: 37px 30px 0 0;
}

nav span {
    color: #494e62;
    vertical-align: 4px;
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.45px;
    padding: 0 10px;
}

.red {
    color: #f06c64;
}

.darkline {
    height: 6px;
    background-color: #323746;
}

.gallery {
    height: 595px;
    background-color: #f06c64;
    font-family: Lato-Bold, MyriadPro-Regular;
    overflow: hidden;
}

.slider {
    display: flex;
}

.slide-1 {
    height: 595px;
    margin-right: 467px;
}

.slide-2 {
    height: 595px;
    position: relative;
    z-index: 1;
}

.left-switcher {
    width: 16px;
    height: 27px;
    position: relative;
    z-index: 2;
    bottom: 314px;
    left: 42px;
}

.vertical-phone {
    width: 215px;
    height: 458px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
    position: relative;
    z-index: 0;
    left: 113px;
    top: 53px;
}

.horizontal-phone {
    width: 458px;
    height: 215px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
    margin-right: 95px;
    position: relative;
    z-index: 0;
    left: 426px;
    bottom: 289px;
}

.right-switcher {
    width: 16px;
    height: 27px;
    position: relative;
    z-index: 2;
    bottom: 314px;
    left: 945px;
}

#black-vertical {
    background-color: #2d303a;
    width: 189px;
    height: 334px;
    position: relative;
    z-index: -1;
    bottom: 565px;
    left: 126px;

}

#black-horizontal {
    background-color: #2d303a;
    width: 333px;
    height: 189px;
    position: relative;
    z-index: -1;
    bottom: 829px;
    left: 486px;
}

.services {
    height: 493px;
    background-color: #f2f2f2;
    padding: 0 41px;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.gallery h2 {
    display: none;
}

.services p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0 41px 0;
}

.grayline {
    height: 6px;
    background-color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(2, 125px);
}

.box img {
    float: left;
    width: 59px;
    height: 59px;
    padding: 2px 20px 0 0;
}

h3 {
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: 0.3px;
    font-family: Lato-Bold, MyriadPro-Regular;
}

.box p {
    font-family: Lato-Regular, MyriadPro-Regular;
    font-size: 12.5px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    letter-spacing: 0.05px;
    margin-right: 5px; 
    padding: 8px 12px 0 78px;
}

.left-switcher:hover, .right-switcher:hover {
    cursor: pointer;
}

.portfolio {
    height: 864px;
    background-color: #2d303a;
    font-family: Lato-Bold, MyriadPro-Regular;
    padding: 0 41px;
}

.portfolio p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0;
}

.portfolio form {
    display: inline-block;
}

.portfolio button {
    color: #767e9e;
    background: none;
    height: 22px;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin: 2px 7px 20px 0;
}

.all {
    width: 28px;
}

.web {
    width: 78px;
}

.graphic {
    width: 93px;
}

.art {
    width: 57px;
}

#pf-wrapper {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    overflow: hidden;
 }

.pf img {
    width: 220px;
    height: 186px;
}

.greyline {
    height: 6px;
    background-color: #323746;
}

.about {
    height: 727px;
    background-color: #f2f2f2;
    font-family: Lato-Bold, MyriadPro-Regular;
    padding: 0 41px;
}

.about p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0;
}

.persons {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.persons img {
    width: 300px;
    height: 300px;
}

figure {
    width: 300px;
}

h4 {
    font-size: 18px;
    color: rgba(102, 109, 137, 255);
    letter-spacing: 0.5px;
    padding-top: 12px;
}

.persons p {
    font-size: 12.8px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
}

.icons {
    padding: 8px 0.4px;
}

.persons a img {
    width: 32px;
    height: 32px;
    padding: 6px 2px;
}

.whiteline {
    height: 6px;
    background-color: #ffffff;
}

.contact {
    height: 648px;
    background-color: #f06c64;
    font-family: Lato-Bold, MyriadPro-Regular;
    padding: 0 41px;
}

.contact h2 {
    color: rgba(240, 216, 217, 255);
}

.contact p {
    font-size: 18px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 0;
}

.quote {
    font-family: Lato-Regular, MyriadPro-Regular;
    display: flex;
    padding-top: 27px;
}

.quote p {
    font-size: 12pt;
    color: rgba(244, 140, 143, 255);
    text-align: justify;
}

input, textarea {
    width: 604px;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding-left: 14px;
}

input {
    height: 38px;
    vertical-align: middle;
}

textarea {
    height: 190px;
    padding-top: 10px;
}

.burgundy {
    background-color: #d6564f;
}

::placeholder { 
    font-family: Lato-Regular, MyriadPro-Regular;
    font-size: 12.5px;
    color: #f08586;
    opacity: 1;
}

.info {
    padding: 8px 0 0 23px;
}

h5 {
    font-family: Lato-Black, MyriadPro-Regular;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
}

.info p  {
    font-family: Lato-Regular, MyriadPro-Regular;
    font-size: 12px;
    line-height: 1.8;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    padding-bottom: 22px;
}

.info img {
    vertical-align: middle;
    display: inline-block;
}

.info figcaption {
    font-family: Lato-Regular, MyriadPro-Regular;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.3px;
    display: inline-block;
    color: rgba(240, 216, 217, 255);
    text-align: justify;
    padding-left: 10px;
}

.info a {
    text-decoration: none;
    color: rgba(240, 216, 217, 255);
}

.send {
    width: 100px;
    height: 38px;
    vertical-align: middle;
    text-align: justify;
    border: none;
    background-color: #d6564f;
    color: #ebbfc0;
    letter-spacing: 2px;
    padding-left: 30px;
    margin-left: 518px;
}

.pinkline {
    height: 6px;
    background-color: #ea676b;
}

footer {
    height: 76px;
    display: flex;
    justify-content: space-between;
    font-family: Lato-Regular, MyriadPro-Regular;
    background-color: #2d303a;
    color: rgba(240, 216, 217, 255);
    padding: 0 40px;
}

footer p {
    font-size: 12.5px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    padding: 30px 0 0 2px;
}

footer a img {
    width: 32px;
    height: 32px;
    padding: 14px 2px;
}

button:focus {
    outline: 0;
}

h2:hover, h3:hover, h4:hover, h5:hover {
    color: rgb(100, 0, 0);;
}

button, .send {
    cursor: pointer;
}

.send:hover, .icons img:hover {
	transform: scale(1.1);
}

nav a.active {
    color: #f06c64;
}

nav a:not(.active):hover {
    cursor: pointer;
    color: #f06c64;
}

.portfolio button.active{
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.portfolio button:not(.active):hover{
    cursor: pointer;
    color: #c5c5c5;
    border-color: #c5c5c5;
}

#pf-wrapper img.active{
    width: 210px;
    height: 176px;
    border: 5px solid #F06C64;
}

#pf-wrapper img:not(.active):hover{
    cursor: pointer;
    width: 220px;
    height: 186px;
}

#message-block{
    position: absolute;
    width: 100%;
    height: 654px;
    top: 2798px;
    left: 0;
    background: #0008;
}
  
#message-block.hidden{
    display: none;
}
  
#message{
    position: absolute;
    top: 50%;
    left: 30%;
    border: 5px double #2d303a;
    background-color: rgb(100, 0, 0);
    font-family: Lato-Regular;
    text-align: center;
    padding: 50px 40px;
}

@media only screen and (max-width: 1200px) {
    html {
		width: 1200px;
    }
    
}

@media screen and (max-width: 768px) {
    body {
		width: 768px;
    }
    nav {
        font-size: 12.6px;
        padding-left: 11px;
    }
    nav a {
        letter-spacing: 1px;
    }
    nav span {
        color: white;
    }

    .gallery {
        height: 445px;
        background-color: #ff6c64;
    }
    .slide-1 {
        height: 445px;
    }
    .slide-2 {
        height: 445px;
    }
    .left-switcher {
        width: 16px;
        height: 27px;
        bottom: 232px;
        left: 30px;
    }
    .vertical-phone {
        width: 163px;
        height: 345px;
        box-shadow: 15px 15px 0 5px #ea5d55;
        left: 85px;
        top: 42px;
    }
    .horizontal-phone {
        width: 345px;
        height: 163px;
        box-shadow: 15px 15px 0 5px #ea5d55;
        margin-right: 208px;
        left: 320px;
        bottom: 216px;
    }
    .right-switcher {
        width: 16px;
        height: 27px;
        bottom: 232px;
        left: 707px;
    }
    #black-vertical {
        width: 143px;
        height: 252px;
        bottom: 428px;
        left: 95px;
    }
    #black-horizontal {
        width: 252px;
        height: 143px;
        bottom: 626px;
        left: 365px;
    }
    
    .services {
        height: 670px;
    }
    h2 {
        padding: 45px 0 5px 0;
    }
    .services p {
        padding: 10px 0 33.5px 0;
        letter-spacing: 0.1px;
        word-spacing: 1px;
        text-align: left;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 353px);
        grid-template-rows: repeat(3, 144px);
    }
    .box img {
        padding: 2px 20px 20px 0;
        
    }
    .box {
        padding-right: 18px;
    }
    .box p {
        text-align: justify;
        padding: 8px 30px 0 78px;
        letter-spacing: 0px;
        word-spacing: 1px;
    }
    .portfolio {
        height: 1080px;
        padding: 15px 0 0 40px;
    }
    .portfolio p {
        padding: 14px 90px 7px 0;
    }  
    .portfolio button {
        margin: 2px 7px 28px 0;
    }
    #pf-wrapper {
        height: 900px;
        grid-template-columns: repeat(3, 215px);
        grid-template-rows: repeat(4, 184px);
    }
    .pf img {
        width: 215px;
        height: 184px;
    }
    
    .about {
        height: 655px;
        padding: 10px 20px 0 40px;
    }
    .about p {
        line-height: 1.7;
        letter-spacing: 0.2px;
        word-spacing: 0.2px;
        text-align: left;
        padding: 12px 30px 0 0;
    }
    .persons {
        padding: 35px 20px 35px 0;
    }
    .persons img {
        width: 220px;
        height: 220px;
    }
    figure {
        width: 220px;
    }
    h4 {
        letter-spacing: 0.8px;
        padding-top: 7px;
    }
    .persons p {
        text-align: justify;
        line-height: 1.75;
        letter-spacing: 0px;
        word-spacing: 0px;
        padding: 0 0;
    }
    .icons {
        padding-top: 3px;
    }
    .whiteline {
        height: 4px;
        background-color: #f8f8f7;
    }

    .contact {
        height: 615px;
        padding: 10px 55px 0 40px;
    }
    .contact p {
        text-align: justify;
        line-height: 1.7;
        padding: 13px 0 0 0;
        letter-spacing: 0.2px;
    }
    .quote {
        padding-top: 10px;
    }
    input, textarea {
        width: 432px;
        padding-left: 8px;
    }
    input {
        height: 37px;
    }
    textarea {
        height: 150px;
        padding-top: 10px;
    }
    .info {
        padding: 12px 0 0 30px;
    }
    .info p  {
        line-height: 1.9;
        padding: 0 0 12px 0;
    }
    .info figcaption {
        padding-left: 9px;
        letter-spacing: 0.4px;
        word-spacing: 0.4px;
    }
    .send {
        margin-left: 340px;
    }

    footer {
        padding: 0 38px;
    }
    footer p {
        font-size: 14px;
        padding-top: 32px;
    }
    footer a img {
        padding: 19px 2.6px;
    }

    #message-block{
        width: 768px;
        height: 631px;
        top: 2992px;
        left: 29%;

    }
    #message{
        top: 50%;
        left: 20%;
        padding: 35px 25px;
    }
}

@media screen and (max-width: 375px) {
    html {
		width: 375px;
	}
}