@font-face{
    font-family: "Lato-Bold";
    src: url("assets/Lato-Bold.ttf");
    font-family: "MyriadPro-Regular";
    src: url("assets/MyriadPro-Regular.ttf");
}

body {
    width: 1020px;
    margin: 0 auto;
    font-family: Lato-Bold, MyriadPro-Regular;
}

* {
	margin: 0;
	padding: 0;
}

header {
    height: 89px;
    color: white;
    background-color: #2d303a;
    display: flex;
	justify-content: space-between;
}

h1 {
    font-size: 19.03448pt;
    text-align: justify;
    letter-spacing: 1.45px;
    margin: 25px 0 0 40px;
}

nav {
    font-size: 8.65655pt;
    text-align: justify;
    margin: 40px 30px 0 0;
}

nav span {
    color: #494e62;
    vertical-align: 4px;
}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.45px;
    padding: 0 10px;
}

.red {
    color: #f06c64;
}

.darkline {
    height: 6px;
    background-color: #323746;
}

.gallery {
    height: 585px;
    background-color: #f06c64;
    
}

.left-switcher {
    width: 16px;
    height: 27px;
    margin: 0 0 203px 42px;
}

.vertical-phone {
    width: 215px;
    height: 458px;
    margin: 53px 0 0 50px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
}

.horizontal-phone {
    width: 458px;
    height: 215px;
    margin: 0 0 122px 94px;
    box-shadow: 20px 20px 0 5px #ce5d56;
    border-radius: 0px 30px 25px 25px;
}

.right-switcher {
    width: 16px;
    height: 27px;
    margin: 0 0 203px 77px;
}

.pinkline {
    height: 15px;
    background-color: #f06c64;
}

.services {
    height: 488px;
    background-color: #f2f2f2;
}

h2 {
    font-size: 30px;
    color: rgba(102, 109, 137, 255);
    text-align: justify;
    letter-spacing: 1.45px;
    padding: 61px 0 10px 41px;
}

.services p {
    font-size: 18px;
    color: rgba(118, 126, 158, 255);
    text-align: justify;
    line-height: 1.7;
    padding: 8px 41px;
}

.grayline {
    height: 6px;
    background-color: #f2f2f2;
}

